*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    --white:hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey:hsla(216, 12%, 54%, 0.188);
    --dark-blue: hsla(213, 20%, 18%, 0.562);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: rgb(247, 126, 5);
}

body{
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: var(--dark-blue);
    max-width: 400px;
    min-width: 300px;
    padding: 1.5em;
    margin: 0 1em;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
}

.card__body__star{
    position: relative;
    display: inline-block;
    max-width: 100%;
    background-color: var(--medium-grey);
    padding: 1.3em;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.card__body__star img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__body--submit__title,
.card__body--submitted__title{
    color: var(--white);
    font-size: 25px;
}

.card__body--submit__paragraph,
.card__body--submitted__paragraph{
    color: var(--light-grey);
    margin: 1em 0;
}

.card__body--submit__rating{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}

.rating-item{
    position: relative;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--medium-grey);
    color: white;
    cursor: pointer;
    border: none;
    transition: .1s;
}

.rating-item:hover{
    background-color: var(--orange);
    color: var(--white);
}

.rating-item:focus{
    background-color: var(--light-grey);
}

.btn-submit{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    background-color: var(--orange);
    color: var(--white);
    padding: .8em 0;
    border-radius: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 13px;
}

.btn-submit:hover{
    background-color: var(--white);
    color: var(--orange);
    font-weight: 700;
}

.card__body--submitted{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__body--submitted__rating-info{
    display: inline-block;
    color: var(--orange);
    background-color: var(--medium-grey);
    padding: .3em 1em;
    border-radius: 20px;
    margin: 2em 0;
}

.hidden{
    display: none;
}

footer{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: var(--light-grey);
    margin: 1em 0;
}

footer a{
    text-decoration: none;
    color: var(--orange);
}
